<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">My first ruby on rails web app</a>
      by <a href="#">Esolam Kpemoua</a>
    </small>
    <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
    </nav>
  </footer>
</div>